@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-6;
  }

  h1 {
    @apply font-bold;
    @apply text-4xl;
    @apply leading-none; /* Must be after text-4xl to override */
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply font-bold;
    @apply text-xl;
  }

  p {
    @apply leading-relaxed;
    @apply mb-6;
  }

  ol,
  ul {
    @apply mb-6;
    @apply pl-6;
  }

  li {
    @apply leading-relaxed;
    @apply pl-2;
  }

  ol li {
    @apply list-decimal;
  }

  ul li {
    @apply list-disc;
  }

  a {
    @apply text-blue-600;
    @apply transition-colors;
  }
  
  a:hover {
    @apply text-blue-800;
  }

  figure {
    @apply mb-6;
  }

  figcaption {
    @apply my-1;
    @apply text-sm;
    @apply text-gray-400;
  }

  table {
    @apply mb-6;
  }

  blockquote {
    @apply border-gray-200;
    @apply border-l-4;
    @apply italic;
    @apply mb-6;
    @apply ml-4;
    @apply pl-4;
  }

  code {
    @apply bg-gray-100;
    @apply px-2;
    @apply py-1;
    @apply rounded-sm;
    @apply text-sm;
  }

  pre {
    @apply bg-gray-100;
    @apply mb-6;
    @apply p-4;
    @apply rounded;
  }

  pre code {
    @apply p-0;
  }

  #root {
    height: 100%;
  }

  .fade {
    position: absolute !important;
    left: 15px;
    right: 15px;
  }
  
  .fade-enter,
  .fade-appear {
    opacity: 0;
  }
  
  .fade-enter-active,
  .fade-appear-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }  
}
