.loader {
  border: 16px solid #F3F4F6;
  border-top: 16px solid #1F2937;
  border-right: 16px solid #1F2937;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}